
# Binaries
*.bin
App/server
Bot/twitchbot

# Sublime stuff
*.sublime-workspace
*.sublime-project

# Key files
*.keys
keys.go
*.pem
token-*.json

# Data files
*.sql
*.db

# Test server files
Site/api/
Site/auth/
